<div class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
      <div class="filter"></div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <h3 class="title">AUTENTIFICARE</h3>
                        <div class="social-line text-center">
                            <a href="https://www.facebook.com/IESCBrasov/" target="_blank" class="btn btn-neutral btn-facebook btn-just-icon">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            
                        </div>
                        <form class="register-form">
                            <label>Email institutional</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-email-85"></i>
                                </span>
                              </div>
                                <input type="text" class="form-control" placeholder="Email" [(ngModel)]="username" (focus)="focus=true" (blur)="focus=false" >
                            </div>
                            <label>Parola</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-key-25"></i>
                                </span>
                              </div>
                                <input type="text" class="form-control" placeholder="Parola" [(ngModel)]="password" (focus)="focus1=true" (blur)="focus1=false" >
                            </div>
                            <button class="btn btn-danger btn-block btn-round" (click)="login()">Intra in cont</button>
                        </form>
                        <div class="forgot">
                            <a href="https://selfpasswd.unitbv.ro/" target="_blank" class="btn btn-link btn-danger">Recuperare parola</a>
                        </div>
                    </div>
                  </div>
              </div>
              
          </div>
  </div>
</div>
