<body>
  <h1 *ngIf="camin">Bun venit</h1>
  <mat-card class="card">
    <mat-card-title>
        <h3>Cereri cazare</h3>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class='card-body'>
      <div class='table-responsive'>
                   
        <table class='mytable'>
          <thead>
            <tr>
            <th>Nume</th>
            <th>Prenume</th>
            <th>Facultate</th>
            <th>An de studii</th>
            <th>Oras</th>
            <th>Judet</th>
            <th>Numar Telefon</th>
            <th>Email</th>
            <th>Orfan</th>
            <th>Situație socială precară</th>
            <th>Situație medicală specială</th>
            <th>Cămin</th>
            <th>Cameră</th>
            <th></th>
            </tr>
          </thead>
          <tbody align="center">
            <tr *ngFor='let student of cerere'>
              <td>{{student.nume}}</td>
              <td>{{student.prenume}}</td>
              <td>{{student.facultate}}</td>
              <td>{{student.an}}</td>
              <td>{{student.oras}}</td>
              <td>{{student.judet}}</td>
              <td>{{student.numartelefon}}</td>
              <td>{{student.email}}</td>
              <td><div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="">
                  <span class="form-check-sign"></span>
                </label>
            </div></td>
              <td><div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" checked="">
                  <span class="form-check-sign"></span>
                </label>
            </div></td>
              <td><div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="">
                  <span class="form-check-sign"></span>
                </label>
            </div></td>
              <td>3</td>
              <td>
                <select name="camera">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                </select>
              </td>
              <td><button type="button" class="btn btn-success btn-just-icon"><i class="fa fa-plus"></i></button></td>
            </tr>
            </tbody>
        </table>
      </div>

    </mat-card-content>
  </mat-card>

  <mat-accordion class='card' *ngIf="camin">
    <h3>Raport cămin {{camin.numarCamin}}</h3>
    <mat-divider></mat-divider>
    <h4>Număr total de locuri: {{camin.numarLocuri}}</h4>
    <h4>Locuri ocupate: {{camin.locuriOcupate}}</h4>
    <h4>Șef de cămin: {{camin.idSefCamin.nume}} {{camin.idSefCamin.prenume}}</h4><mat-divider></mat-divider>
    <h4>Situație pentru fiecare cameră în parte:</h4>
      <mat-accordion class="panel-size2" *ngFor='let etaj of camerePeEtaje; index as i' >
        <mat-expansion-panel>
          <mat-expansion-panel-header class='card-header' style="background-color:rgba(141, 108, 74, 0.836)">
            <mat-panel-title>
              <strong  *ngIf = 'i>0'>Etaj {{i}}</strong>   
              <strong  *ngIf = 'i==0'>Parter</strong>      
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-accordion>
            <mat-expansion-panel  *ngFor='let camera of etaj'>
              <mat-expansion-panel-header class='card-header' style="background-color:rgba(190, 178, 166, 0.836)">
                <mat-panel-title>
                  <strong> Camera {{camera.numarCamera}}</strong>  
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class='card-body'>
                <div class='table-responsive'>
                  <table>
                    <tr>
                      <th scope="row">Număr total de locuri:</th>
                      <td>{{camera.numarLocuri}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Locuri ocupate:</th>
                      <td>{{camera.locuriOcupate}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
  </mat-accordion>

      
  <mat-accordion class='card'>
    <h3>Studenții din cămin</h3>
    <mat-divider></mat-divider>
      <mat-accordion class="panel-size" *ngFor='let etaj of camerePeEtaje; index as i'>
        <mat-expansion-panel>
          <mat-expansion-panel-header class='card-header' style="background-color:rgba(141, 108, 74, 0.836)">
            <mat-panel-title>
              <strong  *ngIf = 'i>0'>Etaj {{i}}</strong>   
              <strong  *ngIf = 'i==0'>Parter</strong>       
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-accordion>
            <mat-expansion-panel *ngFor='let camera of etaj'>
              <mat-expansion-panel-header class='card-header' style="background-color:rgba(190, 178, 166, 0.836)">
                <mat-panel-title>
                  <strong> Camera {{camera.numarCamera}}</strong>  
                </mat-panel-title>
              </mat-expansion-panel-header>
              
              <div class='card-body'>
                <div class='table-responsive'>
                  <table class='mytable'>
                    <thead>
                      <tr>
                      <th></th>
                      <th>Nume</th>
                      <th>Prenume</th>
                      <th>Facultate</th>
                      <th>An de studii</th>
                      <th>Oras</th>
                      <th>Judet</th>
                      <th>Numar Telefon</th>
                      <th>Email</th>
                      <th>Orfan</th>
                      <th>Situație socială precară</th>
                      <th>Situație medicală specială</th>
                      <th>Arhivă</th>
                      </tr>
                    </thead>
                    <tbody align="center">
                    <tr *ngFor='let student of studenti' [attr.id]="student.id">
                      <td><button id="remove" type="button" class="btn btn-danger btn-just-icon" (click)="deleteRow(student)"><i class="fa fa-minus"></i></button></td>
                      <td>{{student.nume}}</td>
                      <td>{{student.prenume}}</td>
                      <td>{{student.facultate}}</td>
                      <td>{{student.an}}</td>
                      <td>{{student.oras}}</td>
                      <td>{{student.judet}}</td>
                      <td>{{student.telefon}}</td>
                      <td>{{student.email}}</td>
                      <td><div class="form-check">
                        <label class="form-check-label">
                          <!-- <input *ngIf = '{{student.orfan}}==0' class="form-check-input" type="checkbox" value="">
                          <input *ngIf = '{{student.orfan}}==1' class="form-check-input" type="checkbox" value="" checked=""> -->
                          <span class="form-check-sign"></span>
                        </label>
                      </div></td>
                      <td><div class="form-check">
                        <label class="form-check-label">
                            <!-- <input *ngIf = '{{student.situatieSocialaPrecara}}==0' class="form-check-input" type="checkbox" value="">
                            <input *ngIf = '{{student.situatieSocialaPrecara}}==1' class="form-check-input" type="checkbox" value="" checked=""> -->
                          <span class="form-check-sign"></span>
                        </label>
                      </div></td>
                      <td><div class="form-check">
                        <label class="form-check-label">
                            <!-- <input *ngIf = '{{student.situatieMedicalaSpeciala}}==0' class="form-check-input" type="checkbox" value="">
                            <input *ngIf = '{{student.situatieMedicalaSpeciala}}==1' class="form-check-input" type="checkbox" value="" checked=""> -->
                          <span class="form-check-sign"></span>
                        </label>
                      </div></td>
                      <td>{{student.arhiva}}</td>
                    </tr>
                    </tbody>
                  </table>
                
                </div>
                </div>
            
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-accordion> 

  <mat-card class="card">
    <mat-card-title>
      <h3>Anunțuri</h3>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <h6>content</h6>
    </mat-card-content>
  </mat-card>
</body>
