mat-accordion
{
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
  background-color: rgba(204, 203, 202, 0.877);
}

mat-card
{
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
  background-color: rgba(204, 203, 202, 0.877);
}
h3
{
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}
h1
{
  margin-top: 0px;
  text-align: center;
  margin-bottom: 80px;
}
h4
{
  margin-top: -5px;
  text-align: center;
  margin-bottom: 10px;
}
h6
{
  margin-top: 20px;
  margin-left: 100px;
}
